Cropped image of man in wheelchair outdoors (Photo: Maskot, Getty Images/Maskot)

I was supposed to talk to Kim Hoxworth at 2:30 p.m., but the sound of the ringing phone triggered a seizure.

Kim is a friend of mine. She has a condition called PNES (psychogenic nonepileptic seizures), and for the past two years, she's had seizures every day. They're not like epileptic seizures; most of the time, Kim stays conscious. But she loses control of her body. Her muscles cramp. Her senses shut down.

And anything can trigger a seizure: A TV trailer for a popular movie. A particular kind of pattern. A phone call.

I've seen video of her seizures, taken by Kim in an attempt to understand what her condition looks like to others, and to better understand what's happening to her. It is difficult to watch an intelligent, animated woman's body shut down as her brain fires contradictory impulses.

Kaffer: Here's why Michigan Medicaid work requirements will kill people

More: Why Republicans wants 350,000 Medicaid enrollees to get a job

Kim is disabled. Thanks to Medicaid, she's getting treatment. But she has yet to obtain the Social Security Administration's declaration that she's officially disabled, entitled to payments from the social safety net she has paid into since she started working at 14.

And because it can take up to two years to obtain that status, if a bill proposed by Lansing Republicans and passed last month by the state Senate becomes law, Kim and people like her could be cut off from medical care for years.

There is a lot wrong with SB 897, which would require Medicaid recipients to work 30 hours a week to continue receiving health benefits.

Because of the way the legislation grants poverty exemptions, it would disproportionately harm impoverished people of color.

It is unlikely to save the state money.

And it is cruel.

More than 2.5 million Michiganders — nearly a quarter of the state's population — get health care through Medicaid and Healthy Michigan, the Affordable Care Act expansion of the program. About 60% of non-disabled Medicaid recipients work. A Trump administration rule change allows states to impose work requirements on Medicaid recipients for the first time in the program's history.

SB 897 contains an exemption for disabled people. But it makes no provision for people like Kim, who are disabled but in administrative limbo.

In a particularly fiendish twist, disability lawyers say it is nearly impossible to prove that you are disabled without records of ongoing medical care.

Kim, who also has a liver immune disorder called Primary Biliary Cholangitis, had to stop working in October 2016 when the frequency of her seizures increased. At her doctor's urging, she applied for disability.

That doctor, Kim said, "was the first one to basically tell me in plain English, 'You’re not going to work again. You need to get over the idea. You may improve, but you’re never going to be who you were again.'"

It was hard to hear.

Kim, who is 40, holds two degrees from Michigan State University. She's accustomed to being capable, competent, the person others come to when they need solutions. The physical toll her seizures take is so great that a year or so ago, she began to need a cane to walk. Then it was a walker. Now she uses a wheelchair.

"It’s hard, to remember what I used to be capable of," she said. "I loved my job. I hate sitting on the couch all freaking day. I don’t want to be doing this. This isn’t a life."

Like many disability applicants, she was turned down the first time she sought benefits. She has appealed that decision, and hopes to get a hearing by late summer. In Michigan, the average wait time for a hearing is 13 months. The administrative law judges who preside over such hearings approve 43% of those claims.

Andrea Hamm, a partner at Detroit-based law firm Miller Cohen, says that means more than two of every five denials were mistakes.

But a lot of disability applicants don't realize that.

"In the denial they get a letter from Social Security that outlines process of appeal. But it’s too overburdening, or they don’t grasp the process — 'What will the cost be for me?' Why should I appeal?' " said Donald Shiffman, managing partner at Southfield-based Zamler, Mellen & Shiffman.

Pursuing an appeal can take, literally, longer than an applicant has.

"I see people with cancer diagnoses who have to go through the process, but before we get the hearing date they’ve passed on," Shiffman says. "Social Security is the largest bureaucratic system in the world, so nothing moves quickly. All you can do is work the best you can within that system."

If some people appealing disability denials had lost Medicaid coverage, Shiffman adds, "their life span would have been much less."

Hamm says most lawyers won't take clients who aren't getting treatment. Without Medicaid, that's significantly more difficult.

"People say there’s a lot of cheats out there," Hamm said. "I don’t see that. I see a lot of truly disabled people."

But that's not the premise behind SB 897, whose sponsors think too many Medicaid recipients who could work refuse to find employment. Bill sponsor Sen. Mike Shirkey, R- Clark Lake, Senate Majority Leader Arlan Meekhof, R-West Olive, and Sen. Patrick Colbeck, R-Canton, who is also a candidate for governor, paint it as a push toward self-sufficiency for folks who'd rather coast on benefits than put in an honest day's work.

For Kim, such skepticism is yet another burden.

"To constantly have to defend ourselves and prove ourselves, and to be constantly told no ... it’s horrible," she said. "The presumption that someone would choose to live this way is offensive and insulting."

Nancy Kaffer is a columnist and member of the Detroit Free Press Editorial Board. Contact her at nkaffer@freepress.com.

Read or Share this story: https://on.freep.com/2GvZpzv